@import '../../styles/colors.scss';

.container {
  flex: 8 1 auto;

  img {
    margin: 0 auto;
  }

  .moreInfo {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 530px) {
  .container {
    order: -1;
  }
}