.container {
  margin: 2rem 0;
}

.subtitle {
  font-size: 2.4rem;
}

.forecast {
  display: flex;
  justify-content: center;

  margin: 1rem 0;
}

.day {
  font-size: 1.4rem;
  border: 1px solid black;
  margin-right: 1rem;
  padding: 2rem;

  img {
    margin: 0 auto;
  }
}
.day:last-child {
  margin-right: 0;
}