@import '../../styles/colors.scss';

.container {
  flex: 1 1 auto;
}

.day {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $black-color;

  img {
    margin: 0 auto;
    width: 50px;
  }

  &:nth-child(odd) {
    background: $primary-light;
  }
  &:hover {
    background: $primary-pale;
  }
  &:first-child {
    border-top: 1px solid $black-color;
  }
}

.link {
  background: $splash-color;
}

.linkText {
  color: $secondary-color;

  &:hover {
    color: $secondary-light;
  }
}

@media only screen and (max-width: 530px) {
  .container {
    margin-top: 10rem;
    margin-bottom: 0;
  }
}