.container {
  flex: 1 1 auto;
}

// .forecast {
//   display: flex;
//   flex-direction: column;
// }

.day {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;

  img {
    margin: 0 auto;
    width: 50px;
  }

  &:first-child {
    border-top: 1px solid black;
  }
}

.linkText {
  color: #c4c4c4;

  &:hover {
    color: #9a9a9a;
  }
}