.top {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 600px) {
  .top {
    flex-direction: column;
    padding: 1rem;

    .back {
      margin-bottom: .5rem;
    }
  }

  .container {
    flex-direction: column;
    margin: 5rem 5rem;
  }
}