.top {
  font-size: 1.75rem;
  padding: 1rem 25rem;
  display: flex;
  justify-content: space-between;

  span {
    cursor: pointer;
    color: red;
  }
}

.title {
  font-size: 3.4rem
}

.container {
  margin: 5rem 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 5rem;
}

@media only screen and (max-width: 600px) {
  .top {
    flex-direction: column;
    padding: 1rem;

    .back {
      margin-bottom: .5rem;
    }
  }
}