.top {
  display: flex;
  justify-content: space-between;
}

.table {
  width: 100%;
}

.thead {
  tr {
    th {
      // background: skyblue;
      border-bottom: 1px solid black;
    }
  }
}

.tbody {
  tr {
    font-size: 1.5rem;
    &:nth-child(even) {
      // background: lightgrey;
    }
    &:hover {
      // background: grey;
    }
  }
}

@media only screen and (max-width: 600px) {
  .top {
    flex-direction: column;
    padding: 1rem;

    .back {
      margin-bottom: .5rem;
    }
  }
}