.footer {
  padding: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: baseline;

    div {
      p {
        margin-bottom: 10px;
      }
    }
  }
}