@import '../../styles/colors.scss';

.footer {
  padding: 1.5rem;
  background: $primary-color;
  color: $white-color;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 530px) {
  .footer {
    flex-direction: column;
    align-items: baseline;

    div {
      p {
        margin-bottom: 10px;
      }
    }
  }
}