.header {
  width: 100%;
  padding: 3rem 2rem 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #000;
}
.logo:hover {
  color: #000;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 1rem 0;
    flex-direction: column;
    justify-content: space-between;
    nav {
      margin: 1rem 0;
    }
  }
}