@import '../../styles/colors.scss';

.header {
  width: 100%;
  padding: 3rem 2rem 3rem;
  background: $primary-color;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: $secondary-color;
}
.logo:hover {
  color: $secondary-color;
}

@media only screen and (max-width: 530px) {
  .header {
    padding: 1rem 0;
    flex-direction: column;
    justify-content: space-between;
    nav {
      margin: 1rem 0;
    }
  }
}