.container {
  ul {
    display: flex;

    li {
      margin-right: 2rem;
    }
    li:last-child {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 530px) {
  .container {
    ul {
      li {
        font-size: .9rem;
      }
    }
  }
}