.container {
  width: 100%;
  background: black;
}

.input,
.search {
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  padding: .75rem 1.5rem;
}

.input {
  margin-right: 1rem;
  width: 450px;
}

.search {
  background: #fff;
}