@import '../../styles/colors.scss';

.container {
  width: 100%;
  background: $black-color;
}

.input,
.search {
  border-radius: 5px;
  border: 1px solid $black-color;
  outline: none;
  padding: .75rem 1.5rem;
}

.input {
  margin-right: 1rem;
  width: 450px;
}

.search {
  background: $white-color;
}