.day {
  border: 2px solid black;
  border-right: 0;
  font-size: 1.25rem;

  &:last-child {
    border-right: 2px solid black;
  }
}

@media only screen and (max-width: 530px) {
  .day {
    padding: 4rem 0;
    margin: 0 2rem;
    border: 2px solid black;
    border-bottom: 0;
    font-size: 2rem;

    &:last-child {
      border-bottom: 2px solid black;
    }

    .more {
      font-size: 1.5rem;
    }
  }
}