$primary-color: #00ADB5;
$primary-light: #33e0e8;
$primary-pale: #ccffff;
$secondary-color: #F8B500;
$secondary-light: #FFD563;
$splash-color: #861657;

$white-color: #FDFDFC;
$black-color: #0F1928;
$cold-color: #1B7FBD;
$warm-color: #DE3C4B;